.vscode/*
/target/
.md/*
*.class
*.properties
*.properties
*.lst
*.lst

*.class

src/SettlersOfAnatolia/target/maven-archiver/pom.properties

*.properties

*.lst

*.jar
*.jar
src/SettlersOfAnatolia/target/SettlersOfAnatolia-1.0.jar
src/SettlersOfAnatolia/target/SettlersOfAnatolia-1.0.jar
